---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Lecturer in the School of Cybersecurity at Old Dominion University (ODU) in Norfolk, VA. My Ph.D. dissertation is advised by Dr. Chunsheng Xin (ODU) and co-advised by Dr. Hongyi (Michael) Wu (University of Arizona). My research interests focus on exploring and addressing the security challenges of emerging technologies such as self-driving vehicles, unmanned aerial vehicles (UAVs), Internet of Things (IoT), and next-generation wireless communications. In addition to research, I am also committed to teaching and mentoring the next generation of cybersecurity professionals. I have taught courses on topics such as cybersecurity techniques and operaitons, and network security. Meanwhile, I am also the leadning instructor for GenCyber Summer Camp in which teach more than 200 K-12 students. 
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
    title="Ph.D.c in Electrical and Computer Engineering,"
    subtitle="From 2017 to Now at Old Dominion University, Norfolk, VA"
    />
    <TimeLineElement
      title="M.E. in Electrical and Computer Engineering,"
      subtitle="2017 at Old Dominion University, Norfolk, VA, USA"
    />
    <TimeLineElement
      title="B.S. in	Communication Engineering"
      subtitle="2014 at Chongqing University of Posts and Telecommunications, Chongqing, China"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement 
      title="Lecturer"
      subtitle="From 2019 to present, Department of Electrical and Computer Engineering, Old Dominion University, Norfolk, Virginia"
      
    />
    <TimeLineElement
      title="Adjunct Faculty"
      subtitle="From 2015 to 2017,  Department of Electrical & Computer Engineering, Old Dominion University, Norfolk, Virginia"
    />
    <TimeLineElement
      title="Graduate Research Assistant"
      subtitle="From 2014 to 2017,  Department of Electrical & Computer Engineering, Old Dominion University, Norfolk, Virginia"
    />
 
  </div>
  <!-- desc="Advisor for Cyber Operation Major. Developed and instructed several hands-on cybersecureity courses. Helped ODU recieved the NSA-CAE in Cyber Defesne for B.S. in Cybersecurity Major." -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Ruby on Rails</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Yii2</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>KdenLive</li>
  </ul>
</BaseLayout>
