---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  
  <div class="divider my-0"></div>

 <HorizontalCard
    title="A Paradigm Shift: Innovating Supply Chain Security for AI-Assisted Devices"
    img="/cci_supplychain.png"
    desc="This collaborative project between Old Dominion University (ODU) and Virginia Tech (VT), aims to address the pressing challenges associated with securing supply
    chains tailored for AI-assisted devices (AADs)."
    badge="CCI, Co-PI"
    url="https://covacci.org/research/cybersecurity-research"
  /> 

  <HorizontalCard
    title="Improving the Success of Low-Income Students in a Cybersecurity Program"
    img="/NSF_logo.png"
    url="https://www.odu.edu/cyber/stem"
    badge="NSF, Co-PI"
  />

  <HorizontalCard
    title="REU Site: Deep Learning Driven Cybersecurity Research in a Multidisciplinary Environment"
    img="/NSF_logo.png"
    url="https://ww1.odu.edu/eng/programs/ccni/research/cyber"
    badge="NSF, Co-PI"
  />

  <HorizontalCard
    title="Spotlighting and Mitigating Cyber‐Attacks in AIoT‐enabled Maritime Transportation"
    img="/maritime_security.jpg"
    desc="This project investigates the cybersecurity implications of an AIoT-enabled MTS (Maritime Transport System), with overarching goals : 1) to evaluate the security effectiveness of AIoT-enabled MTS systems with penetration tests, 2) to tailor new defense models that can counter against cutting-edge cyber-attacks."
    url="https://covacci.org/research/cybersecurity-research"
    badge="CCI, Co-PI"
    />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Developing a Holistic Evaluation Framework for Multi-Modal AI Security and Trustworthiness on Smart IoT Devices in NextG Wireless Networks"
    img="/iot-security.png"
    desc="This project aims to build a holistic evaluation framework for Multi-Modal AI Security and Trustworthiness on Federated AIoE (AI-enhanced Internet of Everything) with two goals, investigate intrinsically new vulnerabilities and attack vectors in multi-modal AIoE FL systems,  and devise effective algorithms to accurately detect/mitigate the identified attacks."
    url="#"
    badge="CCI, Co-PI"
    />
  <div class="divider my-0"></div>

  <HorizontalCard
  title="GPU Powered IoT Testbed to Expand CCI Lab Environment"
  img="/lab_upgrade.jpg"
  desc="This project aims to develop an IoT device testbed inside of the CCI Academic environment with GPU capability.It provides a private cloud environment supporting IoT experimentation and GPU capability for CCI students and faculty greatly benefits both ODU and the region. "
  url="https://covacci.org/cova-share/environments/"
  badge="CCI, PI"
  />
  <HorizontalCard
  title="Sensor Degradation Detection Algorithm for Automated Driving Systems"
  img="/project_sensor_degradation.png"
  desc="The project will develop a sensor degradation detection algorithm for Automated Driving Systems (ADS). Sources of degraded sensor information include weather, cyberattacks (e.g., direct communication and passive false signage), and sensor malfunction. Incorrect information from a sensor could result in significant safety issues, such as leading the vehicle off the road or causing the vehicle to suddenly stop in the middle of an intersection. A virtual framework will be used to test degraded sensor states and the response of the vehicle control systems to develop the detection algorithm. The framework will integrate the sensors models, environments, vehicle model, cyberattacks, and algorithm. Various events related to sensor perception will be extracted to establish baseline sensor performance and performance metrics using the selected events will be determined for comparison in simulation. Various sensor models, such as GPS, LiDAR and radar will be developed for performance deviation detection simulation. The sensor degradation detection algorithm will aid ADS vehicles in decision making by identifying degraded sensor performance.  "
  url="https://www.vtti.vt.edu/projects/sensor-degradation.html#"
  badge="CCI, Senior Personnel"
  />

  <HorizontalCard
  title="DeepPOSE: Securing Transportation Systems from GPS Spoofing Attacks"
  img="/project_deeppose.jpg"
  desc="Today the Global Positioning System (GPS) service is widely used in our daily lives. Smartphones, wearable devices, aircrafts, unmanned aerial vehicles (UAVs), self-driving cars or autonomous vehicles all rely on GPS to benefit from location based services, e.g., navigation, truck/vehicle monitoring, reporting self location in emergency or for rescue, searching nearby gas stations, restaurants, hotels, etc. While GPS becomes an indispensable element in our daily lives, it is rather vulnerable to GPS spoofing attacks even by low-cost hardware, resulting in potentially life-threatening impact. While there has been a long history of studying GPS spoofing, previous solutions to detect GPS spoofing were either applicable to limited scenarios only, or not effective to smart attackers. Furthermore, new challenges, such as varying attack surfaces and lack of mitigation techniques, make the problem even more challenging today. In this project, a holistic framework, dubbed DeepPOSE is proposed to utilize multimodal sensor data to detect and mitigate GPS spoofing attacks to transportation systems, using Deep Learning technologies and emerging wireless communication techniques."
  url="https://cyberinitiative.org/research/funded-projects/cybersecurity-research-collaboration/deeppose-gps-spoofing.html"
  badge="CCI, Senior Personnel"
  />




</BaseLayout>
